@{
    Layout = null;
}
@{
    /**/


    if (Session["ApplicationUser"] == null)
    {
        <script>
            window.location = "/Authentication";
        </script>

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to Neeo Social" />
    <meta name="keywords" content="Social Network, Social Media,Neeo Social,Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>Neoo Social</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="~/content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/style.css" />
    <link rel="stylesheet" href="~/content/ionicons.min.css" />
    <link rel="stylesheet" href="~/content/font-awesome.min.css" />
    <link href="~/content/emoji.css" rel="stylesheet">
    <link href="~/content/toastr.css" rel="stylesheet" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/images/fav.png" />
    <style>
        /* Spinner */
        .spinner {
            width: 50px;
            height: 50px;
            display: inline-block;
            padding: 0px;
            border-radius: 100%;
            border: 6px solid;
            border-top-color: #005a9c;
            border-bottom-color: #005a9c;
            border-left-color: rgba(0, 90, 156, 0.15);
            border-right-color: rgba(0, 90, 156, 0.15);
            -webkit-animation: spinner 0.8s ease-in-out infinite alternate;
            animation: spinner 0.8s ease-in-out infinite alternate;
        }

        @@keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu > .nav-dropdown.active > .nav-sub {
            background: linear-gradient(180deg,#736cc7 25%,#736cc7 50%,#736cc7 75%,#736cc7 100%) left bottom no-repeat #161931;
            background-size: 3px 100%;
        }
    </style>

</head>
<body id="app">

    <!-- Header
    ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Dashboard/home"><img src="~/images/logoNeeo.png" alt="logo" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown"><a href="/Dashboard/home">Home</a></li>
                        <li class="dropdown"><a href="/Dashboard/profile">Profile</a></li>
                        <li class="dropdown"><a href="/Dashboard/FriendRequests">Friend Requests</a></li>
                        @*<li class="dropdown"><a href="#">Messages</a></li>
                        <li class="dropdown"><a href="#">Notification</a></li>*@
                        <li class="dropdown"><a href="" v-on:click="logout()">Logout</a></li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <i class="icon ion-android-search"></i>
                            <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover" style="background-image: url('../../images/NeeoSocialBackGround.png')">

                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img v-bind:src="userProfile" alt="" class="img-responsive profile-photo" />
                                <button v-on:click="selectProfileImage()" class="btn btn-success" id="get_file"><i class="fa fa-camera"></i></button>
                                <button class="btn btn-warning" title="Save Image" v-show="defaultProfile==userProfile" type="button" v-on:click="saveProfile()"><i class="fa fa-save"></i></button>
                                <input type="file" id="userProfileInput" style="display:none" class="_n _5f0v" title="Choose a Profile Image to upload" accept="image/*, image/heic, image/heif" v-on:change="uploadImage">
                                <h3>{{User.name}}</h3>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li><a href="~/Dashboard/profile">Timeline</a></li>
                                @*<li><a href="~/Dashboard/About" >About</a></li>*@
                                @*<li><a>Album</a></li>*@
                                <li><a href="~/Dashboard/Friends" class="active">Friends</a></li>
                            </ul>
                            <ul class="follow-me list-inline">
                                <li>{{totalFollowers}}-people following</li>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->
                <!--Timeline Menu for Small Screens-->
                <div class="navbar-mobile hidden-lg hidden-md">
                    <div class="profile-info">
                        <img v-bind:src="userProfile" alt="" class="img-responsive profile-photo" />
                        <button v-on:click="selectProfileImage()" class="btn btn-success" id="get_file"><i class="fa fa-camera"></i></button>
                        <button class="btn btn-warning" title="Save Image" v-show="defaultProfile==userProfile" type="button" v-on:click="saveProfile()"><i class="fa fa-save"></i></button>
                        <input type="file" id="userProfileInput" style="display:none" class="_n _5f0v" title="Choose a Profile Image to upload" accept="image/*, image/heic, image/heif" v-on:change="uploadImage">

                        <h4>{{User.name}}</h4>

                    </div>
                    <div class="mobile-menu">
                        <ul class="list-inline profile-menu">
                            <li><a href="~/Dashboard/profile">Timeline</a></li>
                            @*<li><a href="~/Dashboard/About" >About</a></li>*@
                            @*<li><a>Album</a></li>*@
                            <li><a href="~/Dashboard/Friends" class="active">Friends</a></li>
                        </ul>

                    </div>
                </div><!--Timeline Menu for Small Screens End-->

            </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>

                    <div class="col-md-9">

                        <!-- Post Create Box
                        ================================================= -->
                        <div class="create-post">
                            <div class="row">

                            </div>
                        </div>
                        <div class="create-post" v-for="item in friendList">


                            <div class="row" v-if="item.User1.UserID!=User.UserID">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <img v-on:click=" viewUser(item.User1.UserID)" v-show="item.User1.userProfile.ImageUrl!=null" v-bind:src="item.User1.userProfile.ImageUrl" alt="" class="profile-photo-md" />
                                        <img v-on:click=" viewUser(item.User1.UserID)" v-show="item.User1.userProfile==null" src="../images/userProfile.png" alt="" class="profile-photo-md" />
                                        <a v-on:click=" viewUser(item.User1.UserID)"><h3>{{item.User1.name}}</h3></a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="tools">
                                        <button class="btn btn-success" disabled>Friend</button>
                                        <button v-if="item.User1.UserID!=User.UserID" class="btn btn-danger" v-on:click="unfriend(item.User1.UserID)">Unfriend</button>
                                        <button v-if="item.User2.UserID!=User.UserID" class="btn btn-danger" v-on:click="unfriend(item.User2.UserID)">Unfriend</button>
                                    </div>
                                </div>
                            </div>





                            <div class="row" v-if="item.User2.UserID!=User.UserID">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <img v-on:click=" viewUser(item.User2.UserID)" v-show="item.User2.userProfile.ImageUrl!=null" v-bind:src="item.User2.userProfile.ImageUrl" alt="" class="profile-photo-md" />
                                        <img v-on:click=" viewUser(item.User2.UserID)" v-show="item.User2.userProfile==null" src="../images/userProfile.png" alt="" class="profile-photo-md" />

                                        <a v-on:click=" viewUser(item.User2.UserID)"><h3>{{item.User2.name}}</h3></a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="tools">
                                        <button class="btn btn-success" disabled>Friend</button>
                                        <button v-if="item.User1.UserID!=User.UserID" class="btn btn-danger" v-on:click="unfriend(item.User1.UserID)">Unfriend</button>
                                        <button v-if="item.User2.UserID!=User.UserID" class="btn btn-danger" v-on:click="unfriend(item.User2.UserID)">Unfriend</button>
                                    </div>
                                </div>
                            </div>



                        </div><!-- Post Create Box End-->
                        <div class="create-post" v-show="friendList.length==0">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <h1>No Friend yet</h1>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-3 col-sm-3">
                        <a><img src="/images/logoNeeo.png" alt="" class="footer-logo" /></a>
                        <ul class="list-inline social-icons">
                            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>For individuals</h5>
                        <ul class="footer-links">
                            <li><a href="">Signup</a></li>
                            <li><a href="">login</a></li>
                            <li><a href="">Explore</a></li>
                            <li><a href="">Finder app</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Language settings</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>For businesses</h5>
                        <ul class="footer-links">
                            <li><a href="">Business signup</a></li>
                            <li><a href="">Business login</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Resources</a></li>
                            <li><a href="">Advertise</a></li>
                            <li><a href="">Setup</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>About</h5>
                        <ul class="footer-links">
                            <li><a href="">About us</a></li>
                            <li><a href="">Contact us</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </div>
                    @*<div class="col-md-3 col-sm-3">
                        <h5>Contact Us</h5>
                        <ul class="contact">
                            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                            <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Neeo Team © 2019. All rights reserved</p>
        </div>
    </footer>

    <!--preloader-->
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.sticky-kit.min.js"></script>
    <script src="~/Scripts/jquery.scrollbar.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script>

        function blockUI() {
            $.blockUI({
                css: {
                    backgroundColor: 'transparent',
                    border: 'none'
                },
                message: '<div class="spinner"></div>',
                baseZ: 1500,
                overlayCSS: {
                    backgroundColor: '#FFFFFF',
                    opacity: 0.7,
                    cursor: 'wait'
                }
            });
            $('.blockUI.blockMsg').center();
        }
        //end Blockui

        //Center the element
        $.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", ($(window).height() - this.height()) / 2 + $(window).scrollTop() + "px");
            this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
            return this;
        }

        function startReq(sender, args) {
            this.blockUI();
        }
        function endReq(sender, args) {
            $.unblockUI();
        }
    </script>
    <script>
        var root = new Vue
            ({
                el: '#app',
                data:
                {
                    isVueActive: 'Al-SHAFQAT',
                    defaultProfile: '../images/userProfile.png',
                    userProfile: '../images/userProfile.png',
                    tempImag: '',
                    friendProfile: '../images/userProfile.png',
                    totalFollowers:0,
                    User:
                    {
                        UserID: "",
                        name: "",
                        email: "",
                    },
                    friendList: [],
                },
                created: function () {
                    this.UserDeatile();
                    this.currentUserFriendList();
                },
                methods:
                {
                    selectProfileImage() {
                        document.getElementById('userProfileInput').click();
                    },
                    pendingFriendRequests() {
                        var vm = this;
                        startReq();
                        axios.post('/Friend/pendingFriendRequests')
                            .then(function (res) {
                                if (res.data["code"] == 200 && res.data["Message"] == "success") {
                                    vm.friendRequests = res.data["friendRequests"];

                                }
                                if (res.data["code"] == 401 && res.data["Message"] == "Login First") {
                                    window.location = "/Authentication";
                                }
                                endReq();
                            })
                            .then(function (error) {
                                console.log(error);
                            })

                    },
                    uploadImage: function (event) {
                        console.log(event);

                        var image = new Image;
                        var reader = new FileReader;

                        reader.onload = (e) => {
                            this.defaultProfile = e.target.result;
                            this.userProfile = this.defaultProfile;
                        }

                        reader.readAsDataURL(event.target.files[0]);
                        console.log(event.target.files[0]);


                    },
                    saveProfile() {
                        var vm = this;
                        axios.post('/Image/SaveProfile',
                            {
                                image: vm.userProfile
                            })
                            .then(function (res) {
                                window.location = "/Dashboard/profile";
                            })
                            .then(function (error) {
                                console.log(error);
                            })
                    },
                      unfriend(friend_id) {
                        var vm = this;
                        axios.post('/Friend/unfriend',
                            {
                                FriendID: friend_id,
                            })
                            .then(function (res) {
                                if (res.data["code"] == 200 && res.data["Message"] == "success") {
                                    vm.currentUserFriendList();
                                }
                                if (res.data["code"] == 400 && res.data["Message"] == "Unauthorized changing") {
                                    alert("Unauthorized changing");
                                }
                                if (res.data["code"] == 401 && res.data["Message"] == "login First") {
                                    window.location = "/Authentication";
                                }
                            })
                            .then(function (error) {
                                console.log(error);
                            })
                    },
                     UserDeatile() {
                        var vm = this;
                        startReq();
                        axios.post('/User/UserDeatile')
                            .then(function (res) {
                                endReq();
                                if (res.data["code"] == 200 && res.data["Message"] == "User Detail available") {
                                    vm.User = res.data["currentUser"];
                                    vm.tempImag = res.data["currentUserProfile"];
                                    if (vm.tempImag != null || vm.tempImag != "") {
                                        vm.userProfile = "../.." + vm.tempImag.ImageUrl;
                                        vm.totalFollowers=res.data["totalFollowers"];
                                    }

                                }
                                if (res.data["code"] == 401 && res.data["Message"] == "Login First") {
                                    window.location = "/Authentication";
                                }
                                
                            })
                            .then(function (error) {
                                console.log(error);
                            })

                    },
                    currentUserFriendList() {
                        var vm = this;
                        axios.post('/Friend/currentUserFriendList')
                            .then(function (res) {
                                if (res.data["code"] == 200 && res.data["Message"] == "success") {
                                    vm.friendList = res.data["friendList"];
                                }
                                if (res.data["code"] == 401 && res.data["Message"] == "Login First") {
                                    window.location = "/Authentication";
                                }
                            })
                            .then(function (error) {
                                console.log(error);
                            })

                    },
                    viewUser(user_id) {
                        var vm = this;
                        axios.post('/User/viewUser',
                            {
                                UserID: user_id,
                            })
                            .then(function (res) {
                                if (res.data["code"] == 200 && res.data["Message"] == "Same User") {
                                    window.location = "/Dashboard/profile";
                                }
                                if (res.data["code"] == 200 && res.data["Message"] == "User Set") {
                                    window.location = "/Dashboard/otherUser";
                                }
                                if (res.data["code"] == 400 && res.data["Message"] == "login First") {
                                    window.location = "/Authentication";
                                }
                            })
                            .then(function (error) {
                                console.log(error);
                            })
                    },
                    logout() {
                        axios.post('/Authentication/logout')
                            .then(function (res) {
                                if (res.data["code"] == 200 && res.data["Message"] == "Successfully logged out") {
                                    toastr.success("Succefully Logged in", "Success!");
                                    window.location = "/Authentication";
                                }
                                if (res.data["code"] == 400 && res.data["Message"] == "Login First") {
                                    toastr.error("Login First", "Error!");
                                    window.location = "/Authentication";
                                }
                            })
                            .then(function (error) {
                                console.log(error);
                            })

                    },
                },
            });
    </script>

</body>
</html>
